{
    "station":
    {
        "location": "$station.location",
        "latitude": $station.stn_info.latitude_f,
        "longitude": $station.stn_info.longitude_f,
        "altitude (meters)": $station.altitude.meter.raw,
        "url": "$station.station_url",
        "hardware": "$station.hardware",
        "uptimeOS": "$station.os_uptime.long_form",
        "uptimeWeeWX": "$station.uptime.long_form",
        "versionWeeWX": "$station.version"
    }
}

