<!doctype html>
<html lang="de">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css " rel="stylesheet">
  <link href="assets/style.css" rel="stylesheet">

  <title>$station.location - WeeWX now</title>

</head>

<body>
  <div class="container">
    <div class="row">
      <h1>$station.location</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <section class="splide" aria-label="WeeWX now Images">
          <div class="splide__track">
            <ul class="splide__list">
            </ul>
          </div>
        </section>
      </div>
      <div class="col-lg-4">
        <div>
          <h2>Aktuelle Werte</h2>
          <table class="datatable">
            <tr>
              <td class="label">Zeitpunkt:</td>
              <td>$current.dateTime.format("%d.%m.%Y @ %H:%M")</td>
            </tr>
            <tr>
              <td style="padding-top: 30px;" colspan="2"><strong>Au&szlig;en</strong></td>
            </tr>
            <tr>
              <td class="label">Windstärke:</td>
              <td>$current.windSpeed</td>
            </tr>
            <tr>
              <td class="label">Böenstärke:</td>
              <td>$current.windGust</td>
            </tr>
            <tr>
              <td class="label">Windrichtung:</td>
              <td>$current.windDir.ordinal_compass ($current.windDir)</td>
            </tr>
            <tr>
              <td class="label">Temperatur:</td>
              <td>$current.outTemp</td>
            </tr>
            <tr>
              <td class="label">Niederschlag:</td>
              <td>$current.rainRate</td>
            </tr>
            <tr>
              <td class="label">Luftfeuchtigkeit:</td>
              <td>$current.outHumidity</td>
            </tr>
            <tr>
              <td class="label">Luftdruck</td>
              <td>$current.barometer</td>
            </tr>
            <tr>
              <td class="label">Taupunkt:</td>
              <td>$current.dewpoint</td>
            </tr>
            <tr>
              <td style="padding-top: 30px;" colspan="2"><strong>Innen</strong></td>
            </tr>
            <tr>
              <td class="label">Luftfeuchtigkeit:</td>
              <td>$current.inHumidity</td>
            </tr>
            <tr>
              <td class="label">Druck:</td>
              <td>NWN</td>
            </tr>
            <tr>
              <td class="label">Temperatur:</td>
              <td>$current.inTemp</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row" style="padding-top:40px;">    
      <div class="col-lg-8">
        <h2>Diagramme 
          <div class="btn-group" role="group" aria-label="Zeitraum" style="float:right;">
            <button type="button" class="btn btn-primary" onClick="setChartHours(2)">2 Stunden</button>
            <button type="button" class="btn btn-primary" onClick="setChartHours(4)">4 Stunden</button>
            <button type="button" class="btn btn-primary" onClick="setChartHours(8)">8 Stunden</button>
          </div>  
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 charttitle">
        <h3>Wind</h3>
      </div>
      <div class="col-lg-5">
        <canvas id="chart_windspeed"></canvas>
      </div>      
      <div class="col-lg-3 winddircontainer" >
        <canvas id="chart_winddir"></canvas>
      </div>
    </div>
    <div class="row">
      <div class="col-12 charttitle">
        <h3>Temperatur &amp; Luftdruck</h3>
      </div>
      <div class="col-lg-8">
        <canvas id="chart_temp_pressure"></canvas>
      </div>
    </div>
    <div class="row">
      <div class="col-12 charttitle">
        <h3>Niederschlag</h3>
      </div>
      <div class="col-lg-8">
        <canvas id="chart_rain"></canvas>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src=" https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js "></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="js/weewx-now.js?v=2"></script>
  <script src="js/chart-windspeed.js?v=2"></script>
  <script src="js/chart-winddir.js?v=2"></script>
  <script src="js/chart-temp-pressure.js?v=2"></script>
  <script src="js/chart-rain.js?v=2"></script>

  <script>
    document.addEventListener('DOMContentLoaded', async function () {
      initImages(30);
      initChartData();      
    });

    async function initChartData() {
      document.chartData = await loadJsonObj('nowWeatherRecords.json');
      setChartHours(2);
    }

  </script>

  <template id="slide-template">
    <li class="splide__slide">
      <div class="img-container">
        <div class="img-overlay">
          <div class="img-overlay-left">%timestamp%</div>                      
          <div class="img-overlay-right"></div>
        </div>
        <img src="%img%" width="100%"/>
      </div>
    </li>
  </template>

</body>

</html>