#from datetime import datetime
#import json
{
    "generation": $round($datetime.now().timestamp()),
    "station":
    {
        "location": $json.dumps($station.location),
        "latitude": $station.stn_info.latitude_f,
        "longitude": $station.stn_info.longitude_f,
        "altitudeMeters": $station.altitude.meter.raw,
        "lang": $json.dumps($lang),
        "stationUrl": $json.dumps($station.station_url),
        "hardware": $json.dumps($station.hardware),
        "uptimeOS": $json.dumps($station.os_uptime.long_form),
        "uptimeWeeWX": $json.dumps($station.uptime.long_form),
        "versionWeeWX": "$station.version"
    },
    "extras":
    {
        "responsibleEntityName": $json.dumps($Extras.responsibleEntityName),
        "responsibleEntityUrl": $json.dumps($Extras.responsibleEntityUrl),
        "hideImageViewer": $Extras.hideImageViewer
    }
}
