#from datetime import datetime
#import json
{
    "generation": "$datetime.now().strftime('%Y-%m-%dT%H:%M:%S.%f')",
    "station":
    {
        "location": $json.dumps($station.location),
        "latitude": $station.stn_info.latitude_f,
        "longitude": $station.stn_info.longitude_f,
        "altitudeMeters": $station.altitude.meter.raw,
        "lang": $json.dumps($lang),
        "url": $json.dumps($station.station_url),
        "hardware": $json.dumps($station.hardware),
        "uptimeOS": $json.dumps($station.os_uptime.long_form),
        "uptimeWeeWX": $json.dumps($station.uptime.long_form),
        "versionWeeWX": "$station.version"
    },
    "extras":
    {
        "endpoint": $json.dumps($Extras.endpoint),
        "hideImageViewer": $json.dumps($Extras.hideImageViewer),
        #if 'password' in $Extras
        "password": $json.dumps($Extras.password)
        #end if       
    },
    "texts":
    {
        "outTemp": $json.dumps($gettext('outTemp')),
        "dewpoint": $json.dumps($gettext('dewpoint')),
        "outHumidity": $json.dumps($gettext('outHumidity')),
        "heatindex": $json.dumps($gettext('heatindex')),
        "barometer": $json.dumps($gettext('barometer')),
        "windSpeed": $json.dumps($gettext('windSpeed')),
        "windGust": $json.dumps($gettext('windGust')),
        "windDir": $json.dumps($gettext('windDir')),
        "windchill": $json.dumps($gettext('windchill')),
        "rainRate": $json.dumps($gettext('rainRate')),
        "inTemp": $json.dumps($gettext('inTemp')),
        "inHumidity": $json.dumps($gettext('inHumidity')),
        "outTempMax": $json.dumps($gettext('outTempMax')),
        "outTempMin": $json.dumps($gettext('outTempMin')),
        "dewpointMax": $json.dumps($gettext('dewpointMax')),
        "dewpointMin": $json.dumps($gettext('dewpointMin')),
        "outHumidityMax": $json.dumps($gettext('outHumidityMax')),
        "outHumidityMin": $json.dumps($gettext('outHumidityMin')),
        "barometerMax": $json.dumps($gettext('barometerMax')),
        "barometerMin": $json.dumps($gettext('barometerMin')),
        "windSpeedMax": $json.dumps($gettext('windSpeedMax')),
        "windGustMax": $json.dumps($gettext('windGustMax')),
        "rainRateMax": $json.dumps($gettext('rainRateMax')),
        "rainTotal": $json.dumps($gettext('rainTotal')),
        "inTempMax": $json.dumps($gettext('inTempMax')),
        "inTempMin": $json.dumps($gettext('inTempMin')),
        "inHumidityMax": $json.dumps($gettext('inHumidityMax')),
        "inHumidityMin": $json.dumps($gettext('inHumidityMin')),
        "currentConditions": $json.dumps($gettext('currentConditions')),
        "at": $json.dumps($gettext('at'))
    }
}
